.arrow {
    display:block;
    position: absolute;
    width: 40px;
    height: 40%;
    top:10%;
    left:45%;
    content:'';
    background : {
        image: url('./images/trumpetR+W.png');
        size: cover;
    }
    z-index:5;
    border-radius:0;
}

@mixin rotation($deg) {
    transform: rotateZ($deg);
    transition: transform 6s ease-in-out;
    transform-origin: 50% 100%;
    
}
.rotation-1 {
    @include rotation(1827.7deg);
}
.rotation-2 {
    @include rotation(1855.4deg);
}
.rotation-3 {
    @include rotation(1883.1deg);
}
.rotation-4 {
    @include rotation(1910.8deg);
}
.rotation-5 {
    @include rotation(1938.5deg);
}
.rotation-6 {
    @include rotation(1966.2deg);
}
.rotation-7 {
    @include rotation(1993.9deg);
}
.rotation-8 {
    @include rotation(2021.6deg);
}
.rotation-9 {
    @include rotation(2049.3deg);
}
.rotation-10 {
    @include rotation(2077deg);
}
.rotation-11 {
    @include rotation(2104.7deg);
}
.rotation-12 {
    @include rotation(2132.4deg);
}
.rotation-13 {
    @include rotation(2160deg);
}
/*
.rotation-14 {
    @include rotation(2136deg);
}
.rotation-15 {
    @include rotation(2160deg);
}
*/