@import '../variables';

.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__type-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 32px;
    }

    &__number {
        &-text {
            font-size: 1.5rem;
            flex: 2;
            text-align: center;
        }
        &-wrapper {
            display: flex;
        }
        &-container {
            flex: 4;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        &-label {
            flex: 0 0 60px;
            width: 60px;
            height: 40px;
            margin-right: 12px;
            margin-bottom: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $green;
            border-radius: 16px;
            font-size: 1.5rem;

            &.selected {
                background-color: blue;
            }
        }

    }

    &__input {
        opacity: 0;
        width: 1px;

        &-acc {
            fill: $yellow;
            height: calc(100% - 8px);
            padding: 4px;
        }

        &-label-acc {
            width: 72px;
            height: 48px;
            margin-right: 16px;
            border-radius: 16px;
            background-color: $blue;
            text-align: center;
        }

        &.selected {
            background-color: $blue;
        }
    }
}