@import '../variables';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &__type-wrapper {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -72px;
    right: 0;
  }

  &__number {
    &-text {
      font-size: 1.3rem;
      text-align: center;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }

    &-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 0;
      padding: 0;

      & li {
        list-style-type: none;
        flex: 0 0 33%;
        display: flex;
        justify-content: flex-end;
      }
    }

    &-label {
      width: 60px;
      height: 40px;
      margin-bottom: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $green;
      border-radius: 16px;
      font-size: 1.5rem;

      &.selected {
        background-color: $blue;
        color: $yellow;
      }
    }

  }

  &__input {
    opacity: 0;
    width: 1px;

    &-acc {
      fill: black;
      height: calc(100% - 8px);
      padding: 4px;

      &.selected {
        fill: $yellow;
      }
    }

    &-label-acc {
      width: 72px;
      height: 48px;
      border-radius: 16px;
      background-color: $green;
      text-align: center;

      &.selected {
        background-color: $blue;
      }

      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
}

@media screen and (min-width: 568px) {
  .form {
    &__type-wrapper {
      right: 12%;
    }

    &__number {
      &-wrapper {
        justify-content: space-between;
        margin-bottom: 16px;
        flex: 0 0 25%;
      }

      &-container {
        flex: 0 0 75%;

        & li {
          flex: 1;
          justify-content: center;
        }
      }

      &-container li:last-of-type {
        margin-right: 0px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .form {
    padding-right: 16px;

    &__type-wrapper {
      justify-content: center;
      position: static;
      margin-bottom: 16px;
    }

    &__number-wrapper {
      flex-direction: column;
    }

    &__number-container li {
      flex: 0 0 33%;
      margin-right: 0;
      justify-content: center;
    }

    &__number-text {
      margin-bottom: 16px;
    }
  }
}

@media screen and (orientation: landscape) {
  .form {
    padding-right: 16px;

    &__type-wrapper {
      justify-content: center;
      position: static;
      margin-bottom: 16px;
    }

    &__number-wrapper {
      flex-direction: column;
    }

    &__number-container li {
      flex: 0 0 33%;
      margin-right: 0;
      justify-content: center;
    }

    &__number-text {
      margin-bottom: 16px;
    }
  }
}