.form {
    display: flex;
    flex-direction: column;
}

.form__input-label {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5em;

    &--acc {
        font-size: 1.2em;
        font-weight: bold;
    }
}

.form__input-number {
    margin-left: 20px;
    text-align: center;
}