.modal {
    &__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        background-color: #fff;
        padding: 50px 100px;
        border-radius: 3px;
        text-align: center;
    }

    &__text {
        font-size: 1.5em;
    }

    &__button {
        background: #ED6A5A;
        border: 2px solid #B55144;
        border-top-color: #ED6A5A;
        border-left-color: #ED6A5A;
        font-size: 16px;
        padding: 8px;
        cursor: pointer;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        outline: none;
        transition: all .2s;
        margin-top: 1em;
        border-radius: 3px;


        &:active {
            border: 2px solid #ED6A5A;
            border-top-color: #B55144;
            border-left-color: #B55144;
        }
    }
}

.modal--visible {
    display: flex;
    opacity: 1;
    transition: opacity .2s;
}

.modal--hidden {
    display: none;
    opacity: 0;
}