.signs {
    text-align: center;
}

.signs__title {
    margin-bottom: 20px;
}

.info {
    font-size: 2rem;
}

.signs__key-overlay {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.signs__key-flats {
    display: block;
    width: 100%;
    height: 100%;
}

@mixin sign-flat {
    position: absolute;
    width: 7%;
    height: 40%;
    opacity: 0.8;
}
.signs__flat-1 {
    @include sign-flat;
    top: 24%;
    left: 26%;
}

.signs__flat-2 {
    @include sign-flat;
    top: 5%;
    left: 33%;
}

.signs__flat-3 {
    @include sign-flat;
    top: 30%;
    left: 40%;
}

.signs__flat-4 {
    @include sign-flat;
    top: 11%;
    left: 47%;
}

.signs__flat-5 {
    @include sign-flat;
    top: 37%;
    left: 54%;
}

.signs__flat-6 {
    @include sign-flat;
    top: 16%;
    left: 61%;
}

.signs__flat-7 {
    @include sign-flat;
    top: 41%;
    left: 68%;
}

.signs__key-sharps {
    display: block;
    width: 100%;
    height: 100%;
}

@mixin sign-sharp {
    position: absolute;
    width: 8%;
    height: 40%;
    opacity: 0.8;
    background-color: transparent;
    border: none;
    outline: none;
}

.signs__sharp-1 {
    @include sign-sharp;
    top: 6%;
    left: 27%;
}

.signs__sharp-2 {
    @include sign-sharp;
    top: 26%;
    left: 35%;
}

.signs__sharp-3 {
    @include sign-sharp;
    top: 0;
    left: 43%;
}

.signs__sharp-4 {
    @include sign-sharp;
    top: 20%;
    left: 51%;
}

.signs__sharp-5 {
    @include sign-sharp;
    top: 39%;
    left: 59%;
}

.signs__sharp-6 {
    @include sign-sharp;
    top: 13%;
    left: 67%;
}

.signs__sharp-7 {
    @include sign-sharp;
    top: 33%;
    left: 75%;
}

.selected {
    background-color: #ECE4B7;
}