@import 'normalize.css';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: $background;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 16px;
  animation: fade-in .3s linear;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

@keyframes animate-size {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px),
screen and (orientation: landscape) {
  .inner-container {
    flex-direction: row;
    align-items: flex-start;
  }
}